.bottom-panel {
  background: transparent;
}

body {
  color: #b3b3b3;
}

#root {
  background: url(https://i.redd.it/pwsm7ubgqkne1.png)
    #000000;
  background-position: centralize;
  background-repeat: no-repeat;
}

.text-field-container__text-field--dark {
  background-color: rgba(56, 39, 75, 0.8);
}
.text-field-container__text-field--primary {
  background-color: rgb(56, 39, 75, 0.8);
}
.header__search {
  color: rgb(223,49,128,255);
  background-color:rgba(56, 39, 75, 0.699)
}
.sidebar {
  background-color: rgba(44, 29, 76, 0.8) !important;
  backdrop-filter: blur(8px);
}
.container__content .button--outline {
  backdrop-filter: blur(8px);
  background-color: rgba(189, 171, 223, 0.5);
}

.game-item {
  background-color: rgba(44, 29, 60, 0.8) !important;
}